.list {
    /* to have 3 list per width */
    width: 30%;
    margin: 1.5%; /* space between lists */

    border: solid 1px black;
    background: lightgrey;
}

.list.stack-higher {
    z-index: 4;
}

.list .drag-handle {
    padding: 0.5em 1em;
    background: yellow;
    cursor: move;
}

.list .drag-handle:hover {
    box-shadow: 0 0 3px 3px skyblue;
}

.list .items.muuri-grid {
    margin: 1em;
}

.list .list-name {
    cursor: text;
}

@media (max-width: 768px) {
    .list {
        width: 47.5%;
        margin: 1%;
    }
}

@media (max-width: 478px) {
    .list {
        width: 99%;
        margin: 1% 0;
    }
}